@use "../../common/variables" as *;

.law {
  padding: 43px 0 140px;

  &__title {
    margin: 0 0 80px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: $color-default-white;
    color: $color-default-black;
    border-radius: 60px;
    padding: 32px;
  }

  &__subtitle {
    margin: 0;
  }

  &__content {
    max-width: 831px;
  }

  &__attention {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: $color-accent-second;
    color: $color-default-white;
    border-radius: 60px;
    padding: 32px;
    text-align: center;
    letter-spacing: 1px;
  }

  &__attention-text {
    margin: 0;
    font-size: 24px;
    line-height: 150%;
    font-weight: 700;
    max-width: 890px;
  }

  &__subtitle--centered {
    text-align: center;
    max-width: 872px;
    margin: 0 auto;
  }

  &__button {
    width: 100%;
    max-width: 360px;
    margin: 16px auto 0;
  }

  @media (max-width: 1024px) {
    padding: 85px 0 100px;

    &__title {
      margin: 0 0 40px;
    }

    &__text {
      gap: 20px;
      border-radius: 40px;
      padding: 25px 20px;
    }

    &__attention {
      gap: 15px;
      border-radius: 40px;
      padding: 20px;
    }

    &__attention-text {
      font-size: 20px;
      max-width: 800px;
    }

    &__button {
      margin: 10px auto 0;
    }
  }

  @media (max-width: 768px) {
    padding: 79px 0 100px;

    &__title {
      margin: 0 0 30px;
    }

    &__attention-text {
      font-size: 16px;
    }

    &__text {
      gap: 15px;
      border-radius: 30px;
      padding: 20px 15px;
    }

    &__attention {
      gap: 10px;
      border-radius: 30px;
      padding: 15px 10px;
      letter-spacing: normal;
    }

    &__button {
      margin: 5px auto 0;
      max-width: 280px;
    }
  }

  @media (max-width: 425px) {
    padding: 79px 0 30px;

    &__title {
      margin: 0 0 20px;
    }

    &__attention-text {
      font-size: 14px;
    }

    &__text {
      gap: 10px;
      border-radius: 20px;
      padding: 15px 10px;
    }

    &__attention {
      gap: 5px;
      border-radius: 20px;
    }

    &__subtitle--centered {
      font-size: 18px;
    }

    &__button {
      margin: 0 auto;
    }
  }
}
