@use "../../common/variables" as *;

.button {
  display: block;
  padding: 18px 32px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-family: "Opsilon", "Arial", sans-serif;
  font-size: 32px;
  line-height: 120%;
  border-radius: 80px;
  transition: background-color 0.3s;
  cursor: pointer;

  &:hover {
    background-color: $color-accent-second;
  }

  @media (max-width: 1024px) {
    font-size: 28px;
    padding: 15px 25px;
  }

  @media (max-width: 768px) {
    font-size: 22px;
    padding: 10px;
    border-radius: 60px;
  }
}

.button--dark {
  color: $color-default-white;
  border: 1px solid $color-default-white;
  background-color: $color-default-black;
  box-shadow: -5px 9px 0 $color-default-white;

  @media (max-width: 768px) {
    box-shadow: -4px 7px 0 $color-default-white;
  }
}

.button--light {
  color: $color-default-black;
  border: 1px solid $color-default-black;
  background-color: $color-default-white;
  box-shadow: -5px 9px 0 $color-default-black;

  @media (max-width: 768px) {
    box-shadow: -4px 7px 0 $color-default-black;
  }
}
