@use "../../common/variables" as *;

.info {
  padding: 100px 0;

  &__wrapper {
    background-color: $color-default-white;
    color: $color-default-black;
    border-radius: 60px;
    padding: 40px 35px;
  }

  @media (max-width: 1240px) {
    padding: 80px 0;
  }

  @media (max-width: 1024px) {
    padding: 40px 0;

    &__wrapper {
      padding: 35px 30px;
    }
  }

  @media (max-width: 768px) {
    &__wrapper {
      border-radius: 40px;
      padding: 30px 25px;
    }
  }

  @media (max-width: 425px) {
    &__wrapper {
      border-radius: 30px;
      padding: 25px 15px;
    }
  }
}
