@use "../../common/variables" as *;

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  row-gap: 9px;

  &__link {
    padding: 5px 13px;
    border-radius: 70px;
    font-size: 16px;
    line-height: 100%;
    box-shadow: -1px 2px 0 $color-default-white;
  }
}
