.showmore-button {
  display: block;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid currentColor;
  padding: 10px 0 4px;
  color: currentColor;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  cursor: pointer;
}
