@use "../../common/variables" as *;

.slider-button {
  position: relative;
  width: 46px;
  height: 46px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: color 0.3s;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    mask-image: url("../../img/arrow.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: currentColor;
  }

  @media (max-width: 1024px) {
    width: 40px;
    height: 40px;
  }

  @media (max-width: 768px) {
    width: 30px;
    height: 30px;
  }
}

.slider-button--prev {
  transform: rotate(180deg);
}

.slider-button--dark {
  color: $color-default-black;
}

.slider-button--light {
  color: $color-default-white;

  &:hover {
    color: $color-accent-second;
  }
}
