@use "../../common/variables" as *;

.type-tab-buttons {
  display: flex;
  background-color: $color-default-black;
  padding: 4px;
  border-radius: 10px;

  &__item {
    flex-grow: 1;
    padding: 6px 40px;
    background-color: transparent;
    color: $color-default-white;
    border: none;
    border-radius: 8px;
    font-family: "Opsilon", "Arial", sans-serif;
    font-size: 24px;
    line-height: 120%;
    cursor: pointer;

    &:hover {
      background-color: $color-transparent-white;
    }
  }

  &__item.is-active {
    background-color: $color-default-white;
    color: $color-default-black;
    box-shadow: inset -2px -2px 0 $color-transparent-blue;
    pointer-events: none;
  }

  @media (max-width: 1024px) {
    &__item {
      font-size: 20px;
    }
  }

  @media (max-width: 768px) {
    &__item {
      padding: 6px 20px;
      font-size: 18px;
    }
  }

  @media (max-width: 425px) {
    &__item {
      padding: 6px 10px;
      font-size: 16px;
    }
  }
}
