@use "../../common/variables" as *;

.sales-banner {
  z-index: 2;
  color: $color-default-white;
  border-radius: 60px;
  overflow: hidden;
  transform: rotate(-4deg);

  &__slider {
    position: relative;
  }

  &__slider-item {
    position: relative;
    border-radius: 60px;
    background-color: $color-default-black;
    overflow: hidden;
    box-shadow: inset 0 -10px 0 $color-default-grey;
  }

  &__item {
    position: relative;
    transform: rotate(4deg);
    transform-origin: 0%;
    max-width: 773px;
    padding: 98px 43px 73px;
    z-index: 1;
  }

  &__item-text {
    margin: 0;
  }

  &__item-button {
    display: inline-block;
    margin-top: 70px;
  }

  &__slider-item-image {
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 507px;
    aspect-ratio: 507 / 440;
    overflow: hidden;
    border-radius: 0 0 60px 0;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__slider-button-wrapper {
    position: absolute;
    left: 47px;
    top: 40px;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    gap: 28px;
    transform: rotate(4deg);
  }

  @media (max-width: 1240px) {
    &__slider-item-image {
      width: 450px;
    }
  }

  @media (max-width: 1024px) {
    &__item {
      width: 85%;
      max-width: 600px;
      padding: 78px 36px 65px;
    }

    &__item-button {
      margin-top: 40px;
    }

    &__slider-item-image {
      width: 340px;
    }

    &__slider-button-wrapper {
      left: 43px;
      top: 30px;
      gap: 20px;
    }
  }

  @media (max-width: 768px) {
    border-radius: 40px;
    transform: none;

    &__slider-item {
      border-radius: 40px;
      box-shadow: none;
    }

    &__item {
      max-width: 540px;
      width: 81%;
      padding: 30px 20px 85px;
      transform: none;
      min-height: 287px;
    }

    &__item-text {
      font-size: 30px;
    }

    &__item-button {
      margin-top: 20px;
    }

    &__slider-item-image {
      width: 260px;
      right: calc(10% - 77px);
      bottom: 0;
      border-radius: 0;
    }

    &__slider-button-wrapper {
      top: auto;
      bottom: 30px;
      left: 30px;
      transform: none;
    }
  }

  @media (max-width: 425px) {
    border-radius: 0;

    &__slider-item {
      border-radius: 0;
    }

    &__item {
      width: 100%;
      padding: 20px 20px 80px;
      min-height: 266px;
    }

    &__item-text {
      font-size: 28px;
    }

    &__slider-item-image {
      width: 60%;
      right: 0;
      border-radius: 0;
      opacity: 0.2;
    }

    &__slider-button-wrapper {
      bottom: 20px;
    }
  }
}
