@use "../../common/variables" as *;

.short-features {
  position: relative;
  background-color: $color-accent-main;
  color: $color-default-black;
  margin-top: -1px;

  &::before {
    background-image: url("../../img/index/features/features-bg.svg");
  }

  &__container {
    position: relative;
    z-index: 1;
  }

  &__wrapper {
    position: relative;
    padding: 249px 0 465px;
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-right: -95px;
  }

  &__title {
    position: absolute;
    top: -180px;
    right: 7%;
    margin: 0;
    max-width: 595px;
    padding: 60px 42px 53px 76px;
    background-color: $color-default-white;
    border-radius: 50%;
    transform: rotate(2deg);

    &::after {
      content: "";
      position: absolute;
      bottom: -72px;
      right: 164px;
      display: block;
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 100px solid $color-default-white;
      transform: rotate(158deg);
    }
  }

  &__title-text {
    position: relative;
    z-index: 1;
    display: block;
  }

  &__list {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0 0 150px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    max-width: 508px;
  }

  &__image {
    width: 607px;
    aspect-ratio: 603 / 836;
    flex-shrink: 0;
    min-width: 425px;
    margin-left: 5px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__banner {
    position: absolute;
    width: 100%;
    bottom: 146px;
    left: 0;
    transform: rotate(-4deg);
  }

  @media (max-width: 1240px) {
    &__wrapper {
      padding: 170px 0 320px;
    }

    &__title {
      top: -130px;
      max-width: 500px;
      padding: 40px 30px 40px 66px;
    }

    &__content {
      margin-right: 0;
    }

    &__list {
      max-width: 420px;
      margin-left: auto;
    }

    &__image {
      flex-shrink: 1;
    }

    &__banner {
      bottom: 60px;
    }
  }

  @media (max-width: 1024px) {
    &__wrapper {
      padding: 150px 0 260px;
    }

    &__title {
      top: -110px;
      right: 0;
      max-width: 420px;
      padding: 30px 50px 30px 60px;

      &::after {
        bottom: -45px;
        right: 144px;
        transform: rotate(188deg);
      }
    }

    &__list {
      max-width: 340px;
      padding: 0 0 200px;
    }

    &__image {
      min-width: 400px;
    }

    &__banner {
      bottom: 90px;
    }
  }

  @media (max-width: 768px) {
    overflow: hidden;

    &__wrapper {
      padding: 170px 0 260px;
    }

    &__title {
      top: -145px;
      max-width: 340px;
      width: 60%;
      padding: 40px 25px 30px;
      text-align: center;

      &::after {
        right: 93px;
        bottom: -30px;
        transform: rotate(173deg);
      }
    }

    &__list {
      max-width: 320px;
      margin: 0 55% 0 auto;
      padding: 0 0 100px;
    }

    &__image {
      position: absolute;
      left: calc(50% - 22px);
      bottom: 0;
      width: 40%;
      min-width: 300px;
    }

    &__banner {
      bottom: 52px;
      transform: none;
    }
  }

  @media (max-width: 425px) {
    padding: 30px 0;

    &__wrapper {
      padding: 0 0 196px;
    }

    &__content {
      flex-direction: column;
    }

    &__title {
      position: static;
      max-width: none;
      width: 100%;
      padding: 20px;
      margin-bottom: 15px;
      border-radius: 30px;
      transform: none;

      &::after {
        content: none;
      }
    }

    &__list {
      max-width: 180px;
      gap: 5px;
      margin: 0 30% 0 0;
      padding: 0 0 80px;
    }

    &__banner {
      bottom: 0;
      width: 100vw;
      min-width: 320px;
      margin: 0 -10px;
    }
  }
}
