@use "../../common/variables" as *;

.short-catalog {
  position: relative;
  margin-top: -1px;
  background-color: $color-accent-main;
  color: $color-default-black;

  &::before {
    background-image: url("../../img/index/bottles/bottles-bg.svg");
  }

  &__container {
    position: relative;
    z-index: 1;
  }

  &__wrapper {
    position: relative;
    padding: 214px 0 112px;
  }

  &__title {
    position: absolute;
    top: 28px;
    left: -95px;
    margin: 0;
    max-width: 620px;
    padding: 50px 54px 50px 94px;
    background-color: $color-default-white;
    border-radius: 50%;
  }

  &__preview {
    position: relative;
    min-height: 612px;
  }

  @media (max-width: 1240px) {
    &__wrapper {
      padding: 214px 0 80px;
    }

    &__title {
      left: 0;
      padding: 40px 63px 40px 75px;
    }

    &__preview {
      min-height: auto;
    }
  }

  @media (max-width: 1024px) {
    &__title {
      max-width: 450px;
      padding: 35px 45px 35px 60px;
    }
  }

  @media (max-width: 768px) {
    padding: 30px 0;

    &::before {
      content: none;
    }

    &__wrapper {
      padding: 30px 0;
      background-color: $color-default-white;
      border-radius: 40px;
    }

    &__title {
      position: static;
      padding: 10px 20px;
      max-width: 600px;
      border-radius: 0;
      margin-right: auto;
      background-color: transparent;
    }
  }

  @media (max-width: 425px) {
    &__wrapper {
      padding: 20px 0;
    }

    &__title {
      border-radius: 30px;
      padding: 10px 20px;
      margin: 0;
    }
  }
}
