@use "./common/variables";
@use "./common/fonts";
@use "./common/global";

@use "./blocks/container";
@use "./blocks/title";
@use "./blocks/subtitle";
@use "./blocks/nav";
@use "./blocks/phone";
@use "./blocks/header";
@use "./blocks/hero";
