@use "./common/variables";
@use "./common/fonts";
@use "./common/global";

// -- components
@use "./blocks/common/container";
@use "./blocks/common/title";
@use "./blocks/common/subtitle";
@use "./blocks/common/button";
@use "./blocks/common/button-tab";
@use "./blocks/common/type-tab-buttons";
@use "./blocks/common/slider-button";
@use "./blocks/common/showmore-button";
@use "./blocks/common/phone";
@use "./blocks/common/review";

// -- blocks
@use "./blocks/common/nav";
@use "./blocks/index/catalog-preview";
@use "./blocks/index/short-feature";
@use "./blocks/index/sales-banner";
@use "./blocks/index/delivery-banner";
@use "./blocks/index/reviews-slider";
@use "./blocks/common/accordion";
@use "./blocks/common/brand-banner";

// -- sections
@use "./blocks/common/header";
@use "./blocks/index/hero";
@use "./blocks/index/short-catalog";
@use "./blocks/index/short-features";
@use "./blocks/index/short-about";
@use "./blocks/index/index-delivery";
@use "./blocks/index/short-reviews";
@use "./blocks/common/faq";
