@use "./common/variables";
@use "./common/fonts";
@use "./common/global";

@use "./blocks/common/container";
@use "./blocks/common/title";
@use "./blocks/common/subtitle";
@use "./blocks/common/button";
@use "./blocks/common/button-tab";
@use "./blocks/common/type-tab-buttons";
@use "./blocks/common/nav";
@use "./blocks/common/phone";
@use "./blocks/common/header";
@use "./blocks/index/hero";
@use "./blocks/index/index-catalog";
@use "./blocks/index/catalog-preview";
