@font-face {
  font-weight: 400;
  font-family: "Opsilon";
  font-style: normal;
  src: url("../fonts/Opsilon-Regular.woff2") format("woff2"),
    url("../fonts/Opsilon-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: "VictorMono";
  font-style: normal;
  src: url("../fonts/VictorMono-Regular.woff2") format("woff2"),
    url("../fonts/VictorMono-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: "VictorMono";
  font-style: normal;
  src: url("../fonts/VictorMono-Bold.woff2") format("woff2"),
    url("../fonts/VictorMono-Bold.woff") format("woff");
  font-display: swap;
}
