$color-default-black: #1a272e;
$color-default-white: #ffffff;
$color-default-grey: #7e7e7e;

$color-text-black: #324855;
$color-text-white: #efefef;

$color-accent-main: #fdcf01;
$color-accent-second: #ff4795;

$color-transparent-blue: rgba(62, 121, 238, 0.25);
$color-transparent-lightblue: rgba(26, 39, 46, 0.1);
$color-transparent-grey: rgba(166, 166, 166, 0.25);
$color-transparent-white: rgba(255, 255, 255, 0.1);
