@use "../../common/variables" as *;

.detail-card {
  background-color: $color-default-white;
  color: $color-default-black;
  border-radius: 60px;
  padding: 40px 35px;

  &__wrapper {
    display: grid;
    grid-template-areas:
      "title  image"
      "price  image"
      "button image";
    grid-template-columns: auto auto;
    row-gap: 24px;
    column-gap: 20px;
    padding-bottom: 60px;
    border-bottom: 1px solid $color-text-black;
  }

  &__image {
    grid-area: image;
    width: 523px;
    aspect-ratio: 523 / 562;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    grid-area: title;
    margin: 0 0 16px;
  }

  &__price {
    grid-area: price;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 40px;
  }

  &__price-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__price-text {
    color: $color-text-black;
    font-weight: 700;
    letter-spacing: 1px;
  }

  &__price-number {
    font-size: 60px;
    line-height: 110%;
    font-family: "Opsilon", "Arial", sans-serif;
  }

  &__button {
    grid-area: button;
    width: 100%;
    max-width: 360px;
  }

  &__text-wrapper {
    padding-top: 40px;
  }

  @media (max-width: 1240px) {
    &__wrapper {
      grid-template-columns: auto 50%;
      padding-bottom: 40px;
    }

    &__text-wrapper {
      padding-top: 30px;
    }

    &__image {
      width: 100%;
    }
  }

  @media (max-width: 1024px) {
    padding: 35px 30px;

    &__wrapper {
      gap: 15px;
    }

    &__title {
      margin: 0 0 10px;
    }

    &__price-wrapper {
      gap: 3px;
    }

    &__price-number {
      font-size: 50px;
    }

    &__image {
      align-self: center;
    }

    &__button {
      max-width: 310px;
    }
  }

  @media (max-width: 768px) {
    border-radius: 40px;
    padding: 30px 25px;

    &__wrapper {
      grid-template-columns: 1fr;
      grid-template-areas:
        "title"
        "price"
        "image"
        "button";
      gap: 0;
    }

    &__title {
      margin: 0 0 30px;
    }

    &__price {
      flex-direction: row;
      margin-bottom: 20px;
    }

    &__image {
      max-width: 300px;
    }
  }

  @media (max-width: 425px) {
    border-radius: 30px;
    padding: 20px 15px;

    &__wrapper {
      justify-items: center;
      padding-bottom: 30px;
    }

    &__title {
      justify-self: start;
      margin: 0 0 20px;
    }

    &__price {
      justify-self: start;
      flex-direction: column;
      row-gap: 10px;
    }

    &__price-number {
      font-size: 40px;
    }

    &__text-wrapper {
      padding-top: 20px;
    }
  }
}
